<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!-- 공통 헤드-->
    <th:block th:replace="/layout/main/head :: headFragment"></th:block>
	
    <body>
      <main class="main" id="top">
                <!-- 상단바-->
                <th:block th:replace="/layout/main/top :: topbarFragment"></th:block>

                <!-- 본문-->
                <th:block layout:fragment="content"></th:block>

                <!-- 공통 하단-->
                <th:block th:replace="/layout/main/footer :: footerFragment"></th:block>
       
		</main>
        <!-- 공통 스크립트-->
        <th:block th:replace="/layout/main/script :: scriptFragment"></th:block>
    </body>
</html>